sudo: required
language: php

cache:
    - vendor

php:
    - '7.2'
    - '7.3'
    - '7.4'

before_script:
  - composer install -o --ignore-platform-reqs

after_script:
    - |
      if [ $TRAVIS_PHP_VERSION = '7.1' ]; then
        travis_retry wget https://scrutinizer-ci.com/ocular.phar
        php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
      fi

install:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer self-update && composer --version

script:
  - if [ $TRAVIS_PHP_VERSION = '7.3' ]; then ./vendor/bin/phpstan analyze -c .phpstan.neon --level=1 src;fi
  # check the code style
  - if [ $TRAVIS_PHP_VERSION = '7.3' ]; then IFS=$'\n'; COMMIT_SCA_FILES=($(git diff --name-only --diff-filter=ACMRTUXB "${TRAVIS_COMMIT_RANGE}")); unset IFS; fi
  - if [ $TRAVIS_PHP_VERSION = '7.3' ]; then ./vendor/bin/php-cs-fixer fix --config=.php_cs.php -v --dry-run --stop-on-violation --using-cache=no --path-mode=intersection -- "${COMMIT_SCA_FILES[@]}";fi
  - phpunit --configuration phpunit.xml
